<a href="https://colab.research.google.com/github/poojadarade/Python-Essentials/blob/master/Day_3_B7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1 Day 3

In [ ]:
altitude = int(input("Enter the flight current altitude- "))

Enter the flight current altitude- 1200

In [ ]:
if altitude >=6500:
  print("Turn Around");
elif altitude<6500 and altitude >= 4500:
  print("Bring down to 1000");
elif altitude<4500 and altitude>=1000:
  print("Safe to land");

Safe to land

# Assignment 2 Day 3

*Program to check if a number is prime or not*

In [1]:
for item in range(1,200):
  num = item
  if num > 1:
    for i in range(2,int(num)):
      if (num%i) == 0:
        break
    else:
      print(num,"is prime number")

2 is prime number
3 is prime number
5 is prime number
7 is prime number
11 is prime number
13 is prime number
17 is prime number
19 is prime number
23 is prime number
29 is prime number
31 is prime number
37 is prime number
41 is prime number
43 is prime number
47 is prime number
53 is prime number
59 is prime number
61 is prime number
67 is prime number
71 is prime number
73 is prime number
79 is prime number
83 is prime number
89 is prime number
97 is prime number
101 is prime number
103 is prime number
107 is prime number
109 is prime number
113 is prime number
127 is prime number
131 is prime number
137 is prime number
139 is prime number
149 is prime number
151 is prime number
157 is prime number
163 is prime number
167 is prime number
173 is prime number
179 is prime number
181 is prime number
191 is prime number
193 is prime number
197 is prime number
199 is prime number